* {
    /* Resetea los estilos */
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --colorprincipal: #FF0E0E;
    --colorsecundario: #3C6F24;
    --colorterciario: #FF2F2FE5;
    --colorletras: white;
    --tiempodetransicion: 1s;

}

body {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', Arial, 'Helvetica Neue', sans-serif;
    background-color: #FFFFFF;
    margin: 0, auto;

}


.TopList {

    list-style: none;
    padding-right: 150px;
    padding-left: 150px;

    padding-top: 25px;
    padding-bottom: 8px;

    display: flex;

    /* Adaptacion al ancho de la pagina */
    flex-wrap: wrap;

    background-color: var(--colorprincipal);
    color: var(--colorletras);

    justify-content: space-between;

    gap: 12px;

    font-size: 25px;


}

a {
    color: rgb(250, 245, 238);
    text-decoration: none;
}

footer {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--colorsecundario);
    margin-top: 40px;

}

.ListadeEnlacesFooter {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 60px;
    margin-left: 60px;
    color: var(--colorletras);
    font-weight: bold;
    font-size: 25px;
}

.FooterImagen img {
    max-width: 80%;

    max-height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

}

.Copy {
    margin-bottom: 5px;
    margin-top: 5px;
    color: rgb(29, 28, 28);
    text-align: center;
}