* {
  outline: 1px solid red;
}
body {
  max-width: 1100px;
  background-color: #0a8cc3;
}
ul.red {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}
ul.red li {
  color: #ff0004;
  font-family: sans-serif;
  text-decoration: underline;
}
section.top {
  display: flex;
}


section.top p {
  color: #2d15ba;
}
div.topizq {max-width: 350px;display:flex;justify-content:flex-start;}
div.topdcha .fotoa{
 display:flex; justify-content:flex-end;}
.fotob{width:200px}
.fotoa{ max-width:300px;}