@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/**
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */

input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box;
}

/**
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}


body {
    max-width: 1100px;
    height: auto;
    background-color: #0a8cc3;
    margin: auto;
    cursor: pointer;
    font-family: system-ui;
}

h2 {
    font-family: "Press Start 2P";
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: green;
    text-shadow: 1px 1px 0 green;
}

ul.red {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

ul.blanco {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

ul.red li {
    color: #ff0004;
    font-family: sans-serif;
    text-decoration: underline;
}

ul.blanco li {
    color: #ffffff;
    font-family: sans-serif;
    text-decoration: underline;
}

section.top {
    display: flex;
}

section.top p {
    color: #2d15ba;
}

div.topizq {
    max-width: 350px;
    display: flex;
    justify-content: flex-start;
}

.topdcha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    gap: 50px;
}

footer {
    background-color: white;
    background-image:
        linear-gradient(90deg, rgba(0, 0, 0, 1)1px, transparent 0.9px),
        linear-gradient(rgba(0, 0, 0, 1) 1px, transparent 0.9px);
    background-size: 30px 30px;
    min-height: 400px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.fotob {
    width: 200px;
}

ul.red {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

ul.red li {
    color: #ff0004;
    font-family: sans-serif;
    text-decoration: underline;
}

section.top {
    display: flex;
    gap: 50px;
}

section.top p {
    color: #2d15ba;
}

div.topizq {
    max-width: 350px;
    display: flex;
    justify-content: flex-start;
}

div.bajdcha .fotob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    align-items: flex-start;
}

.fotob {
    width: 250px;
    height: auto;
    transform: rotate(5deg);
}

.fotoa {
    max-width: 400px;
    max-width: 300px;
    height: auto;
    align-self: flex-end;
    /* Esto la manda a la derecha del todo */
    transform: rotate(-3deg);
}

.bas {
    max-width: 100%;
    margin: auto;
    margin-bottom: 50px;
}

.bajo {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding: 20px;
}

.bajo img {
    width: 270px;
    height: auto;
    margin-left: 50px;
    gap: px;
}

.foto1 {
    transform: rotate(-3deg);
}

.foto2 {
    transform: rotate(8deg);
}

.foto3 {
    transform: rotate(-8deg);
}

ul.foot {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    color: #2d15ba;
    font-family: sans-serif;
}

.pie {
    margin-top: 50px;
    padding: 20px;
}

.uno {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.unoa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.unoc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.unob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 270px;
    padding: 8px;
    color: #f7d417;
}

img {
    max-width: 250px;
    height: 200px;

}

a {
    color: white;
    font-family: sans-serif;

}

.trivia {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.intro {
    margin-top: 50px;
}

strong {
    rotate: -2deg;
    background: white;
    display: inline-block;
    color: green;
    padding: 8px;
}

.quizz {
    margin: auto;
}

.quizz img {
    border: 10px solid pink;
}

p {
    color: greenyellow;
    margin-top: 50px;
    margin-bottom: 50px;
}

.quizz li {
    color: white;
}

.peli img {
    position: absolute;
    bottom: 20px;
    right: 200px;
    height: 105px;
    rotate: 15deg;
}

.pacman {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #f2d648;
    position: relative;
    margin-top: 20px;
}

.pacman__eye {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 20px;
    right: 40px;
    background: #333333;
}

.pacman__mouth {
    background: #0a8cc3;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
}


.pacman__food {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    top: 40%;
    left: 120px;
}